@import './_function.scss';

// padding
$mobilePadding: mobilePx2vw(20);
$ipadPadding: ipadPx2vw(20);

// color
$primaryColor: #f15f88;
$primaryBackgroundColor: #fddcec;
$textColor: #222222;
$lightTextColor: #5C5F61;
