@import './font.scss';
@import './color.scss';
@import './response.scss';
@import './global.scss';
@import './keyframes.scss';

* {
	padding: 0;
	margin: 0;
  font-family: Whitney SSM;
  box-sizing: border-box;
  color: $text;
}

.my-toast {
  width: 50% !important;
}
