@keyframes mymoveOK{
  from { 
    background-position: left; 
  }
  to { 
    background-position: right;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
   transform:  scale(0);
  }
  to {
    transform:  scale(1);
  }
}
